.notes-list {
  width: 100%;
  background-color: #fafafa;
  border-radius: 0.8rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  gap: 1rem;
  list-style: none;
  width: 100%;
}

.notes-list__pagination {
  margin: auto !important;
}

@media (max-width: 30rem) {
  .notes-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    row-gap: 1rem;
  }
}
