.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.header__title {
  font-size: 4rem;
  margin-right: 2rem;
}

.header__archived-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 1rem;
  color: #2980b9;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 50rem) {
  .header {
    flex-direction: column;
    width: 100%;
  }

  .header__title {
    margin-bottom: 2rem;
    margin-right: 0;
  }
}

@media (max-width: 30rem) {
  .header__buttons {
    flex-direction: column;
  }
}
